*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.div1{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   text-align: center;
   background-color: blanchedalmond;
}
#calcTemp {
    padding: 29px 67px;
    min-height: 290px;
    background-color: lavender;
}
.h1c{
    text-align: center;
    color: brown;
    background-color: blanchedalmond;
}
#result{
    color: brown;
    font-size: 27px;
}
